<div class="text-center bg-gray-200 w-screen">
    <h2 class="text-center text-green-700 text-opacity-75 text-4xl font-serif py-8">List de Episodios</h2>
    <ul class="flex flex-wrap border-2 border-green-500 justify-center">
        <!-- <div  class="flex flex-wrap"> -->
        <li *ngFor="let item of episodios" class="separar shadow-2xl content-center rounded-3xl">
            <p>Nombre Episodio:{{item.name}}</p>
            <p>Fecha: {{item.air_date}}</p>
            <p>Episodio N°: {{item.episode}}</p>
            <p>Creado: {{item.created}}</p>
            <div
                class="border-2 transition duration-300 ease-in-out transform hover:scale-110 motion-reduce:transform-none rounded-full py-2 px-8 mx-20 mt-4 bg-green-500 text-white">
                <a [routerLink]="['/episode', item.id]">
                    Ver Mas
                </a>
            </div>
        </li>
        <!-- </div> -->
    </ul>
</div>